# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Distribution / build
.dist/
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Power BI temporary/backup files
*.pbit
~$*.pbix